.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 327px;
  height: 39px;
  align-items: center;
}
h1 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #ffffff;
  margin-right: 113px;
}
h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;

  letter-spacing: 2.5px;
  color: #ffffff;
}
