* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}
main {
  background-color: #141d2f;

  padding: 31px 24px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: 50px;
  height: 20px;
}

.light {
  background-color: #f6f8ff;
  color: #4b6a9b;
}
.light h1 {
  color: #222731;
}
.light h2 {
  color: #2b3442;
}
.form-light::placeholder {
  color: #4b6a9b;
}
.dark::placeholder {
  color: white;
}
.dark:focus {
  color: white;
}
.form-light:focus {
  color: #4b6a9b;
}
form {
  width: 327px;
  height: 60px;
  background-color: #1e2a47;
  border-radius: 15px;
  margin: 35px 0 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
}
.form-light {
  background-color: white;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}
input {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 25px;

  width: 184px;
  height: 25px;
  background-color: #1e2a47;
  border: none;
  margin-left: 9px;
  margin-right: 5px;
}
input:focus {
  outline: none;
}
.button {
  width: 84px;
  height: 46px;
  background: #0079ff;
  border-radius: 10px;
  color: white;
  border: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
}
@media screen and (min-width: 880px) {
  form {
    width: 579px;
    height: 69px;
    padding-left: 32px;
  }
  .button {
    margin-left: 123px;
  }
  input {
    margin-left: 24px;
    width: 254px;
  }
}
